<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="navin.laundry.myproject">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity android:name="navin.laundry.myproject.Admin_ViewOrder_Activity"></activity>
        <activity android:name="navin.laundry.myproject.Admin_ViewProduct_Activity" />
        <activity android:name="navin.laundry.myproject.Admin_Home_Activity" />
        <activity android:name="navin.laundry.myproject.Admin_Login_Activity" />
        <activity
            android:name="navin.laundry.myproject.Select_Payment_Method_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="navin.laundry.myproject.MyOrder_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="navin.laundry.myproject.View_cloth_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="navin.laundry.myproject.Forgot_password_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="navin.laundry.myproject.Place_order_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="navin.laundry.myproject.Offer_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="navin.laundry.myproject.Feedback_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="navin.laundry.myproject.About_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="navin.laundry.myproject.Terms_and_condition_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="navin.laundry.myproject.My_cart_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="navin.laundry.myproject.Add_to_cart_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="navin.laundry.myproject.Navigation_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="navin.laundry.myproject.Signup_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="navin.laundry.myproject.Login_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="navin.laundry.myproject.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>